body{
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: 'Open Sans',sans-serif;
}

.title{

}

.clever{
  font-size: 0.9em;
  font-style: italic;
}

.homepage_desc{
  font-size: 1.1em;
  padding-top: 25px;
  padding-bottom: 25px;
}

.search_section{

}

.searchbox{
  margin-top: 5px;
  width: 225px;
}

.btn-primary{
  background-color: #080808;
  margin-top: 10px;
  width: 100px;
  height: 35px;
  margin-top: 10px;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #222 !important;
}

.small-alert{
  margin-left: 10px;
  font-style: italic;
}

.homepage_list{
  padding-top: 45px;
}

.homepage_airports{
  font-size: 0.9em;
}

.banner{
  padding-top: 125px;
  text-align: center;
  font-weight: 900;
}

.detailpage{
  padding-top: 15px;
}

.errormessage{
  font-weight: bolder;
  font-style: italic;
  font-size: 1.25em;
}

.detail_info{
  font-size: 1.1em;
}

.detail_label{
  text-decoration: underline;
}

.indent_list{
  padding-left: 30px;
}

.thumbs{
  height: 15px;
  width: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.thumbs_yes{
  color: #3097B6;
  font-weight: 500;
}

.newsearch{
  font-size: 1.2em;
  padding-top: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
