<h1>HOME</h1>
<!-- <a href="#/airportList">ANGULAR AIRPORT LIST</a> -->

<div ng-controller="homeController">
  <form ng-submit="submit()">
    <input class="searchbox" type="text" ng-model="search_input" name="usersearch" placeholder="(Examples:  KORD, KMDW, KLAX)">
    <span class="small-alert" ng-if="search_input.length < 3 || search_input.length > 4">
      Must be valid 3-4 letter ICAO Airport Code
    </span>
    <br>
    <input type="submit" name="" ng-disabled="search_input.length < 3 || search_input.length > 4" class="btn btn-primary" value="Search">
  </form>
</div>


<h3>Below is a list of all airports logged on this site</h3>

<div ng-repeat="airport in airports">
  {{ airport.name }} <a href="#/airportDetails/{{ airport.abbrev.toUpperCase() }}">({{ airport.abbrev.toUpperCase() }})</a>
</div>
